* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1c1c1c;
    color: #c3c3c3
  }
  
  header {
    background-color: #282828;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  nav {
    margin: 1rem 0;
  }
  
  nav a {
    color: #8ea1ff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 10px;
  }
  
  nav a:hover {
    color: #c991ff
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    background-color: #282828;
    border: 1px solid #8ea1ff;
    border-radius: 5px;
    box-shadow: 0 0 10px #8ea1ff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 600px;
  }
  
  .front {
    color: #8ea1ff;
  }
  
  .back {
    color: whitesmoke;
  }
  
  .card .front img {
    max-width: 100%;
  }
  
  .card .front h1 {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  
  .card .back h2 {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  
  .card .back p {
    margin-bottom: 1rem;
  }
  
  .card .back form {
    display: flex;
    flex-direction: column;
  }
  
  .card .back label {
    margin-bottom: 0.5rem;
  }
  
  .card .back input,
  .card .back textarea {
    margin-bottom: 1rem;
  }
  
  .card .back button {
    background: #3b5998;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  
  .card .back button:hover {
    background: #333;
  }

  .card-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card-row .card {
    margin: 1rem;
    flex: 1 1 300px;
    max-width: calc(33% - 2rem);
  }
  
  .card.about {
    width: 100%;
    max-width: 800px;
    margin-bottom: 2rem;
  }
  
.card.languages .language img {
  width: 120px;
  height: auto;
}

.card.skills table {
    font-size: 1.2rem;
    border-collapse: separate;
    border-spacing: 15px;
  }
  
  .card.skills td {
    padding: 10px;
  }
  
  .languages .back section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    justify-items: center;
    align-items: center;
  }
  
  .language {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headshot {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 80% center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .about .front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
  }
  